* {
  box-sizing: border-box;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/Roboto/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Roboto/roboto-v30-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Roboto/roboto-v30-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Roboto/roboto-v30-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Roboto/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

body {
  font-family: "Roboto";
  color: white;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222222;
  height: 70px;
  padding: 5px;
}

header h1 {
  margin: 0;
}

main {
  margin: 15px;
}

footer {
  height: 50px;
  background-color: #222222;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  color: darkcyan;
  height: 100%;
}

h1,
h2 {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.profile-pic {
  border-radius: 15px;
}

#skills ul li {
  list-style-type: "⭐ ";
}
